<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arch.qplugin">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.arch.application.QPluginApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_02"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:process=":fore"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.arch.ipccenter.back.BackEngine"
            android:exported="false"
            android:label="BackEngine">
            <intent-filter>
                <action android:name="com.arch.ipccenter.back.BackEngine" />
            </intent-filter>
        </service>
        <service
            android:name="com.arch.ipccenter.fore.ForeService"
            android:exported="false"
            android:process=":fore">
            <intent-filter>
                <action android:name="com.arch.ipccenter.fore.ForeService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.arch.plugin.ProxyActivity"
            android:process=":fore"></activity>
    </application>

</manifest>